body {
	background-image: var(--gradient);
	background-size: 400%;
	animation: bg-animation 44s infinite alternate;
}
:root {
	--gradient: linear-gradient(44deg, #5c258d, #4389a2);
}
@keyframes bg-animation {
	0% {
		background-position: left;
	}
	50% {
		background-position: right;
	}
	100% {
		background-position: left;
	}
}
